---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat:500|Noto+Serif+SC:500');

$fg-color: #222334 !default;
$accent-color: #b757c7 !default;

@mixin no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Chrome and Opera */
}

@mixin headliner-type {
  font-family: 'Noto Serif SC', serif;
}

@mixin paragraph-type {
  font-family: 'Montserrat', sans-serif;
}

// Import partials.
@import "layout", "base";
